{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Totally Timber - Confirm Form

{% endblock %}


{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/pdfmake@0.2.12/build/pdfmake.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pdfmake@0.2.12/build/vfs_fonts.js"></script>
  <script src="/static/js/pdfDD.js" ></script>
  
  <h3>! Please check the details are all correct !</h3>
  <img>
  <a id="getpdf" role="button"> document PDF</a>

  <p>{{ species }}</p>
  <p>{{ profile }}</p>
  <a role="button" href="\details\"> go Back </a>
  <a role="button" href="\submitForm\"> submit Form </a>

  <script >
    document.getElementById("getpdf").addEventListener("click", () => {
      pdfMake.createPdf(dd).open(); 
    });
  </script>





{% endblock %}

