{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Totally Timber - Confirm Form

{% endblock %}


{% block content %}
<h3>! Please check the details are all correct !</h3>
<img>
<a role="button"> document PDF</a>
<p>timber Species</p>
<p>timber Profile</p>
<a role="button" href="\details\"> go Back </a>
<a role="button">  </a>

{% endblock %}

