{#=====================================================
  About page (DEMO)
  - Information about Flask
  - Information about Jinja
  - Information about Turso
  - Information about PicoCSS
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Totally Timber - Form Page 2

{% endblock %}


{% block content %}

    <h1> Timber </h1>
    <h1>Consent Document Form</h1>
    <h4>Person Details</h4>
    <div>
      <p>Timber Species</p>
      <p>Timber Profile</p>
      <a role="button" href="\">Go Back</a>
      <form>
        <input name="name" type="text" placeholder="Your Name">

        <input name="phoneNum" type="tel" placeholder="Phone Number">
        <input name="email" type="email" placeholder="YourEmail@email.com">

        <div>
          <h4>Clients Details</h4>
          <input name="cName" placeholder="clients name">
          <input name="adress" type="text" placeholder="site address">
        </div>

        <a role="button" href="\confirmation">Submit</a>
      </form>
    </div>

{% endblock %}

