{#=====================================================
  About page (DEMO)
  - Information about Flask
  - Information about Jinja
  - Information about Turso
  - Information about PicoCSS
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Totally Timber - Form Page 2

{% endblock %}


{% block content %}

    <h1> Timber </h1>
    <h1>Consent Document Form</h1>
    <h4>Timber Specifications</h4>
    <div>
    </div>

{% endblock %}

