{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Totally Timber - documents

{% endblock %}


{% block content %}
  <h1> Your Documents</h1>
  <input name="key" placeholder="passkey?" required> 

  {% for doc in docs %}
    <article>
         <p>{{ doc.species }} {{ doc.profile }} <a role="button" id="sideby"> PDF </a></p>
    </article>
  {% endfor%}
{% endblock %}

