{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Totally Timber - Form Home

{% endblock %}


{% block content %}
    <h1> Timber </h1>
    <h1>Consent Document Form</h1>
    <h4>Timber Specifications</h4>
    <div>
        <form>
            <h2>choose timber species</h2>
            <select name="timber">
                <option value="option1">macrocarpa</option>
                <option value="option2">walnut</option>
                <option value="option3">redwood</option>
                <option value="option3">pine</option>
            </select>
            <h2>Choose timber profile</h2>
            <select id="speciesDropdown" name="species">
                {% for profile in profiles %}
                    <option value="{{ profile.profile }}">{{ profile.profile }}</option>
                {% endfor %}
            </select>

            <div>
                <img src="/profile_image/{{ profile.id }}" alt="{{ profile }}" id="pImg">
            </div>

            <script>
                const profilePics = {
                    {% for profile in profiles %}
                        "{{ profile.profile }}": "{{ profile.pic }}",
                    {% endfor %}
                };

                const dropdown = document.getElementById('speciesDropdown');
                const img = document.getElementById('pImg');

                dropdown.addEventListener('change', () => {
                });
            </script>


            <a href="/details/" role="button">submit</a>
                
        </form>
    </div>




{% endblock %}

