{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Totally Timber - Form Home

{% endblock %}


{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/pdfmake@0.2.12/build/pdfmake.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pdfmake@0.2.12/build/vfs_fonts.js"></script>
    <script src="/static/js/pdfDD.js" ></script>

    <h2> Timber </h2>
    <h1>Consent Document Form</h1>
    <p class="underline">Timber Specifications</p>
    <div>
        <form action="/pageSubmit/timber" method="post">
            <div class="spacingUnderline" >
                <h4>choose timber species</h4>
                <select id="timberDropdown" name="species" required>
                    <option value="macrocarpa">macrocarpa</option>
                    <option value="walnut">walnut</option>
                    <option value="redwood">redwood</option>
                    <option value="pine">pine</option>
                </select>
            </div>

            <div class="spacingUnderline">
                <h4>Choose timber profile</h4>
                <select id="profileDropdown" name="profile" required>
                    {% for profile in profiles %}
                        <option value="{{ profile.profile }}">{{ profile.profile }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div id="sideby">
                <img src="" alt="{{ profile }}" id="pImg">
                <button id="submit" type="submit">submit</button>
            </div>   

            <div id="hiddenDiv" hidden>
                <a role="button" id="lastPDF"> Last PDF </a>
            </div>

            <script>
                const profileDropdown = document.getElementById('profileDropdown');
                const timberDropdown = document.getElementById('timberDropdown');
                const hiddenDiv = document.getElementById('hiddenDiv');
                const pdfButton = document.getElementById("lastPDF")
                const img = document.getElementById('pImg');

             

                function setImg(dropdown) {
                    const selectedValue = dropdown.value
                    const profileId = "/profile_image/" + selectedValue
                    img.src = profileId
                    img.alt = selectedValue
                }
                setImg(profileDropdown)
                
                if ("{{ lastPDF }}" != "None") {
                    hiddenDiv.hidden = false
                }

                if ("{{ species }}" != "None") {
                    timberDropdown.value = "{{ species }}";
                }
                if ("{{ profile }}" != "None") {
                    profileDropdown.value = "{{ profile }}";
                }
                
                pdfButton.addEventListener("click", () => {
                    pdfMake.createPdf(dd).open(); 
                });
                
                profileDropdown.addEventListener('change', () => {
                    setImg(profileDropdown)
                });
            </script>   

        </form>
    </div>




{% endblock %}

