/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/
.underline {
    border-bottom: 2px solid black;
}

.spacingUnderline {
    border-bottom: 2px solid black;
    margin-bottom: 10px; 
}



#sideby {
    display: flex;
    height: auto;
    overflow: hidden;
}

#sideby img {
    width: 70%;
    height: auto;
    aspect-ratio: 2/1;
    transition: transform 0.4s ease;
}

#sideby img:hover {
    transform: scale(1.4) translateX(40px);
}

#sidebyRestricted {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 8rem;
}

#rightside {
    height: 4rem;
}

#sideby a {
    margin-left: auto;
    height: 10rem;
}

#submit {
    width: 30%;
    height: auto;
    padding: 5px;
}

#submit2 {
    width: 100%;
    height: 5rem;
    padding: 5px;
}

#pImg {
    width: 60%;
    height: 10rem;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

